{% extends "YTToMp3App/layout.html" %}
{% load static %}

{% block title %}
    Coverter
{% endblock %}

{% block body %}
    <h2 class="mt-4 text-center">Youtube Mp3 Downloader</h2>
    
    <form id="form">
        <div class="input-group">
            <label class="sr-only" for="video_url">Input youtube video url</label>
            <input id="video_url" class="form-control" name="video_url" type="text" placeholder="Youtube video URL" autofocus>
            <div class="input-group-append">
                {% csrf_token %}
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>

{% endblock %}

{% block script %}
    <script src="{% static 'YTToMp3App/main.js' %}"></script>
    <script src="https://kit.fontawesome.com/63581316ff.js" crossorigin="anonymous"></script>
{% endblock %}