{% extends "YTToMp3App/layout.html" %}
{% load static %}

{% block title %}
    Downloader
{% endblock %}

{% block body %}
    <div id="container" class="container">
        <h2 class="mt-4 text-center">Youtube Mp3 Downloader</h2>
    
        <form id="form" class="needs-validation" novalidate>
            <div class="input-group">
                <label class="sr-only" for="search-input">Search youtube video</label>
                <input id="search-input" class="form-control rounded" name="search-input" type="text" placeholder="Search" autofocus required>
                <div class="input-group-append">
                    {% csrf_token %}
                    <button class="btn btn-outline-secondary rounded mr-2" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div id="invalid-feedback" class="invalid-feedback"></div>
            </div>
        </form>
        
        <div id="search-result-container" class="row"></div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'YTToMp3App/youtube.js'%}" type="module"></script>
{% endblock %}