{% extends "YTToMp3App/layout.html" %}
{% load static %}

{% block title %}
    Coverter
{% endblock %}

{% block body %}
    <div id="container" class="container">
        <h2 class="mt-4 text-center">Youtube Mp3 Downloader</h2>
    
        <form id="form" class="needs-validation" novalidate>
            <div class="input-group">
                <label class="sr-only" for="video_url">Input youtube video url</label>
                <input id="video-url" class="form-control" name="video-url" type="text" placeholder="Youtube video URL" autofocus required>
                <div class="input-group-append">
                    {% csrf_token %}
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div id="invalid-feedback" class="invalid-feedback">
                    
                </div>
            </div>
        </form>
    </div>
    
{% endblock %}

{% block script %}
    <script src="{% static 'YTToMp3App/main.js' %}"></script>
    <script src="https://kit.fontawesome.com/63581316ff.js" crossorigin="anonymous"></script>
{% endblock %}